.flex {
  display: flex;
  flex-wrap: wrap;
}

.flexParagraph {
  display: flex;
  margin-top: 40px;

  .h2 {
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 24px;
    line-height: 50px;
  }

  .p {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 13px;
    padding: 0 16px;
  }
}

.textCenter {
  text-align: center;
}